<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,
                                 user-scalable=no, minimum-scale=1.0,
                                 maximum-scale=1.0">
  <style>
    .hoverable {
      fill: #34755A;
      stroke: #173D15;
      transition: all .3s ease-in-out;
    }

    .hoverable:hover {
      fill: #FF8672;
    }

    .ocean {
      fill: #71AFFB;
    }
  </style>
</head>
<body>
  <%- svg %>
</body>
</html>
